{
    "Params": {
        "DevMode": {
            "Instrumentation": {
                "command": "",
                "env": {
                    "BLUEMIX_APP_MGMT_ENABLE": "devconsole+shell+inspector",
                    "NODE_ENV": "development"
                },
                "memory": "384M"
            },
            "Packager": "com.ibm.perfectstorm.cloudoe.packager.LiveEditDeploymentPackager"
        },
        "Name": "fiap-persona123",
        "Target": {
            "Org": "90ab53fa-a73d-4fa4-a7a3-ddbc32424fa9",
            "Space": "031a6d67-4cbf-49a3-9563-0dafb90692b0",
            "Url": "https://api.ng.bluemix.net"
        },
        "Timeout": 60
    },
    "Path": "",
    "ServiceId": "com.ibm.cloudoe.orion.client.deploy",
    "Type": "Cloud Foundry"
}